<html>
	<head>
		<link href="styles/style.css" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<title> Leilão </title>
	</head>
	<body bgcolor=gray>
	<style>
	p {
		border-style: solid;
		border-top-width: 29px;
	}
	</style>
		<h1>
			 <strong>Sabbath Auctions</strong>
			 <em style="font-style: italic; color: white;">leilões On-line</em>
		</h1>
		<form action="/action_page.php" method="post">
			<textarea></textarea><br>
			<input type="text" placeholder="envie seu lance" name="lance"><br>
			<input type="submit" name="enviar lance">
		</form>