<html>
	<head>
		<title> Cadastro de Usuário </title>
	</head>
	<body>
		<form method="POST" action="cadastro.php">
			<label>Login:</label><input type="text" placeholder="Insira seu login:" name="login" id="login"><br>
			<label>CPF:</label><input type="text" placeholder="Insira seu CPF:" name="cpf"><br>
			<label>Senha:</label><input type="password" placeholder="Insira sua Senha:" name="senha" id="senha"><br>
			<p> Voce aceita os nossos termos de contrato e de servico ?
			<p id="termos">
              <select name="termos">
                <option value="0" selected="selected">
                <option value="1">Sim
                <option value="2">Nao
              </select>
            </p>
            </p>
			<button>Cadastrar</button>
		</form>
	</body>
</html>